@model TimelineModel
@using System.Globalization

<div class="portfolio-modal modal fade" id="Edit_TimelineNode_@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin: 2rem 14rem 2rem 14rem;">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="modal-body">

                            <h2 class="text-uppercase mb-3">Edit Timeline Node</h2>

                            <form asp-area="Admin" asp-controller="Timeline" asp-action="Edit" method="post" asp-antiforgery="true">
                                <div class="form-group">
                                    <input asp-for="Id" class="form-control" value="@Model.Id" hidden="hidden" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="ImageUrl">Image Url</label>
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                    @if (Model.ImageUrl == "~/img/noimage.png")
                                    {
                                        <input asp-for="ImageUrl" class="form-control" type="text" value="" />
                                    }
                                    else
                                    {
                                        <input asp-for="ImageUrl" class="form-control" type="text" value="@Model.ImageUrl" />
                                    }
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date">Date</label>
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                    @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                    @*<input asp-for="Date" class="form-control" asp-format="{0:d}" value="@Model.Date.ToString("MM/dd/yyyy",CultureInfo.InvariantCulture)" />*@
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title">Title</label>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                    <input asp-for="Title" class="form-control" type="text" value="@Model.Title" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Description</label>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                    <input asp-for="Description" class="form-control" type="text" value="@Model.Description" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Side">Side</label>
                                    <select asp-for="Side" class="form-control" value="@Model.Side">
                                        <option value="">Left</option>
                                        <option value="timeline-inverted">Right</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" type="submit">Save Changes</button>
                                <a class="btn btn-danger btn-xl text-uppercase" asp-area="Admin" asp-controller="Timeline" asp-action="Delete" asp-route-tmId="@Model.Id">
                                    Delete Record<i class="bi bi-trash"></i>
                                </a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>